@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  @apply scroll-smooth;
}

.cabecalho{
  @apply bg-white h-[20vh] p-4 flex flex-auto text-3xl text-black font-bold justify-around items-center;
}

.itensMenu{
  @apply flex flex-auto
}

.itensMenu li{
  @apply p-4 items-center
}

.main{
    @apply p-0 m-0 text-black;
}
  
.linha{
    @apply h-1 w-[80%] m-auto bg-yellow-400;
}

.bem-vindo{
    @apply w-[80%]  bg-cyan-100 m-auto mt-[3%] rounded-[20px] flex flex-row;

    & .titulo{
        @apply text-left text-black text-3xl font-bold ml-[3%] mt-[5%];
    }

    & .paragrafo {
        @apply text-left text-black text-xl w-[80%] ml-[5%];
    }

    & .img-bv{
        @apply rounded-tr-[20px] rounded-br-[20px];
    }
}

.sobre{
    @apply m-auto mt-[3%] w-[80%];
  
    & .titulo{
      @apply text-left;
    }
  
    & .paragrafo{
      @apply text-left m-0 text-xl w-[80%] p-4;
    }
  
    & ul{
      @apply list-disc w-[80%] p-8 text-lg;
    }  
}

.visao{
    @apply w-[80%] m-auto;

    & .paragrafo{
        @apply w-[80%] text-xl text-center m-auto p-4;
    }
}

.valores{
    @apply w-[80%] m-auto;

    & .paragrafo-valores{
        @apply m-auto text-center w-[80%] text-lg
    }

}

.titulo{
    @apply text-center font-bold text-3xl p-4
}

.subtitulo{
    @apply text-center font-bold text-2xl p-4;
}
